* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

:root {
    --middle-blue-green: #80c2bd;
    --sonic-silver: hsl(0, 0%, 44%);
    --eerie-black: hsl(0, 0%, 9%);
    --ocean-green: #64c491;
    --candy-pink: hsl(356, 65%, 63%);
    --cultured: hsl(0, 0%, 96%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}